html {
	background: url('cvbg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.suh p {
	font-family: 'Open Sans', sans-serif;
	margin-top: -45px;
	font-size: 0.7em;
	text-align: right;
}

.leftCol {
	height: 1050px;
	background-color: #565656;
	margin-bottom: 100px;
}

.leftCol p {
	font-weight: bold;
	margin-left: 38%;
	margin-right: auto;
	margin-top: 40px;
	width: 70px;
	padding: auto;
	height: 32px;
	color: #ebebeb;
	text-align: center;
	border: solid #ebebeb 2px;
	font-family: 'Open Sans', sans-serif;
}

.leftCol #p2 {
	font-weight: bold;
	margin-left: 32%;
	margin-right: auto;
	margin-top: 70px;
	width: 110px;
	padding: auto;
	height: 32px;
	color: #ebebeb;
	text-align: center;
	border: solid #ebebeb 2px;
	font-family: 'Open Sans', sans-serif;
}

.leftCol ul {
	margin-top: 30px;
	margin-left: -3px;
}

.leftCol ul li {
	font-weight: bold;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	color: #ebebeb;
	margin-top: 20px;
	text-align: center;
}

.leftCol h2 {
	color: #ebebeb;
	font-size: 0.8em;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.leftCol h3 {
	color: #ebebeb;
	font-size: 1.2em;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.leftCol h4 {
	color: #ebebeb;
	font-size: 1em;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}


.rightCol {
	height: 1050px;
	background-color: #ebebeb
}

.content h2 {
	font-family: 'Peddana', serif;
	text-align: center;
	border: solid black 2px;
	width: 150px;
	height: 52px;
	margin-left: auto;
	margin-right: auto;
	padding: auto;
	
}



.content {
	margin-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.content p {
	margin-top: 30px;
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}

.exp h2 {
	font-family: 'Peddana', serif;
	text-align: center;
	border: solid black 2px;
	width: 200px;
	height: 52px;
	margin-left: auto;
	margin-right: auto;
	padding: auto;
}


.exp {
	margin-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

.exp #p3 {
	margin-top: 30px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
}

.exp #p4 {
	margin-top: -20px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
}

.exp #p5 {
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}
.container {
	margin-top: 50px;
	
	margin-bottom: 50px;
}

.header {
	margin-top: 100px;
	margin-left: -15px;
	margin-right: -25px;
	background-color: #fffddd;
	height: 200px;
	
}

.header h1 {
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-size: 4em;
	padding-top: 20px;
}

.header p {
	padding-top: 10px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: bold;
}

#dp {
	margin-top: 70px;
	
}

#line {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: -15px;
	height: 3px;
	border-color: black;
}

